<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'blog_index' %}>首页</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
          {% if user.is_staff %}
        <a class="btn navbar-btn" href="{% url 'article_publish' %}">发布新文章</a>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
        <a href="" title="个人信息"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}</a>
        </li>
        <li>
        <a href="{% url 'logout' %}?next=/blog/" title="退出"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
        </li>
      </ul>
        {% else %}
      <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="sign-in-up">
                    <a href="{% url 'register' %}" class="btn navbar-btn">注册</a>
                </div>
            </li>
            <li>
                <div class="sign-in-up">
                    <a href="{% url 'login' %}?next={{ request.path  }}" class="btn navbar-btn">登录</a>
                </div>
            </li>
      </ul>
        {% endif %}

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>